# Virtual environments
.venv/
src/.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Chroma database
chroma_db/
src/chroma_db/

# VS Code
.vscode/

# Streamlit secrets
.streamlit/secrets.toml
colab-notebooks/	
knowledge-base/
    README.md
.env
.env.*
!.env.example